body {
    background-image: linear-gradient(#636162, #b1afaf);
    height: 122vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px; padding: 0px; font-family: 'Monserrat', sans-serif;
}
.main {
    background-color: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
}
.left {
    background-color: #0c76e7;
    width: 200px;
    height: 100%;
    float: left;
}
.right {
    width: 450px;
    float: left;
}
.profile-img {
    height: 250px;
    width: 165px;
    background-color: #ddd;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 8px solid #0c76e7ea;
    box-shadow: 7px 7px 9px 5px #0c76e7;
}
.profile-img img {
    width: 100%;
    border-radius: 60%;
}
.box-1 {
    position: relative;
}
.heading {
    background-color: #1f00a8;
    padding: 10px;
    color: #f6f6f7;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;

}
.heading::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: #1f00a8;
    left: 191px;
    top: 26px;
    transform:rotate(56deg);
    z-index: -1;
}
.p1 {
    padding: 9px 10px;
    font-size: 11px;
}
.box-1 i.fa-solid.fa-envelope, i.fa-solid.fa-phoneb {
    margin-right: 10px;
}
.skill-container {
    width: 90%;
    background-color: #4d4d4d;
    margin: 0px 20px;
}
.skill {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
.html {
    width: 90%;
    background-color: white;
}
.css {
    width: 80%;
    background-color: white;
}
.js {
    width: 70%;
    background-color: white;
}
.python {
    width: 75%;
    background-color: white;
}
.gra {
    width: 75%;
    background-color: white;
}
.web {
    width: 80%;
    background-color: white;
}
.h-div {
    padding: 20px;
}
.name-div {
    padding: 86px 0px 60px 55px;
    text-align: center;
    letter-spacing: 3px;
}

.name-div h1 {
    margin-bottom: 10px;
}

.box-2 {
    padding: 0px 50px;
    margin-top: 30px;
}

.p2 {
    font-size: 10px;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
}
.p3 {
    font-size: 13px;
    word-spacing: 1px;
    letter-spacing: 0px;
    margin-top: 10px;
}

.p3 span {
    color: #1b018f;
    padding-left: 20px;
}
